# Rust build artifacts
target/

# rustfmt backup files
**/*.rs.bk

# rust-analyzer metadata
.rustc_info.json

models/
*.wav
# Keep Cargo.lock for applications/workspaces.
# Uncomment the next line if this is a library crate.
# Cargo.lock
