[package]
name = "alignment-domain"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true

[dependencies]
async-trait = { workspace = true }
rustycog-core = { workspace = true }
serde = { workspace = true }
